<div id="grid-wrapper"></div>
<div id="single-wrapper">

    <div class="post-{{post.id}} post single-item" id="post-{{post.id}}">
        <h2 class="post-title" ng-bind="post.title"></h2>

        <div class="post-body" ng-bind-html="post.content"></div>

        <p class="post-meta">
            发表于 <span ng-bind="post.postDate | date:'yyyy年M月d日 H:mm'"></span><br>
            分类： <a href="/category/{{post.category}}" title="查看{{post.category}}中的全部文章" rel="category tag"
                   ng-bind="post.category"></a>
            <br>
            标签：
            <a href="/tag/{{tag}}" rel="tag" ng-bind="tag" ng-repeat-start="tag in post.tags"></a><span
                ng-if="!$last" ng-repeat-end>, </span>
        </p>
    </div>


    <div class="single-item">
        <h2 class="comment-title" id="comments">
            <a href="#respond" title="留下评论" ng-bind="((post.commentCount<1)?'没有评论':post.commentCount+'条评论')+'&raquo;'"></a>
        </h2>

        <div ng-if="post.commentCount>0" class="comment-list">
            <ol>
                <li ng-repeat="comment in post.comments" class="comment">
                    <div class="comment-body">
                        <div class="comment-author">
                            <img title="{{comment.author}}" src="http://www.gravatar.com/avatar/{{comment.authorEmailMD5}}" class="avatar">
                            <a click-if="comment.authorHomePage" href="{{(comment.authorHomePage)?comment.authorHomePage:'#'}}" class="comment-author" ng-bind="comment.author"></a>
                            <span class="says">说：</span>
                        </div>

                        <div class="comment-meta commentmetadata" ng-bind="comment.postDate | date:'MMM d,yyyy H:mm'"></div>

                        <p ng-bind-html="comment.content"></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div class="single-item" id="respond">
        <h2 class="comment-title">发表评论</h2>

        <div class="comment-form">


            <form method="post" id="commentform">

                <p><input type="text" name="author" id="author" ng-model="commentSubmit.author" size="22" tabindex="1" aria-required='true'>
                    <label for="author">
                        <small>姓名 (必填)</small>
                    </label></p>

                <p><input type="email" name="email" id="email" ng-model="commentSubmit.authorEmail" size="22" tabindex="2"
                          aria-required='true'>
                    <label for="email">
                        <small>电子邮件(必填)</small>
                    </label></p>

                <p><input type="url" name="url" id="url" ng-model="commentSubmit.authorHomePage" tabindex="3">
                    <label for="url">
                        <small>站点</small>
                    </label></p>

                <p><textarea ng-bind="commentSubmit.content" name="comment" id="comment" rows="10" tabindex="4" style="resize: none"></textarea></p>

                <p><button name="submit" type="submit" id="submit" tabindex="5">发表评论</button></p>
            </form>

        </div>
    </div>

</div>