b-cov
*.seed
*.log
*.csv
*.map
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/*
dist/data/posts/*.json
dist/data/comments/*.json
src/data/posts/*.json
src/data/comments/*.json
*.iml
projectFilesBackup

.DS_Store